[Desktop Entry]
Name=Snowboard Kids 2 Recompiled
Type=Application
Terminal=false
Icon=512
Exec=SnowboardKids2Recompiled
GenericName=SnowboardKids2Recompiled
StartupWMClass=SnowboardKids2Recompiled
Categories=Game;
